{% extends 'base.html' %}

{% block title %} Pixel Sorter {% endblock %}

{% block body %}

<div class="min-vw-100 min-vh-100 d-flex" style="background-color: #eee;">
    <div class="mx-auto my-auto" style="max-width: 90%; min-width: 90%;" id="comicdiv" >
    <div>

      <br/>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Instructions</h4>
          <p>
            Pixel Sorting - PAGE IS UNDER DEVELOPMENT
          </p>

          <hr>
          Upload an image, select parameters, click "SORT"

          <!-- <hr>

          <p class="mb-0">
            Examples: ...
          </p> -->
        
        </div>

        <!-- <div id="canvasdiv" style="display: none" class="text-center mx-auto my-auto d-flex"> -->
        <div id="canvasdiv" style="display: none" class="text-center">
          <canvas id="canvas" style="max-width: 100%; max-height: 50%;"></canvas>
        </div>

        <div class="text-center">
          <input type="file" id="inp">
        </div>

        <br/>

        <div>

        </div>

        <div id="rotatediv" style="display: none" class="text-center">
          <button type="button" id="rotatebutton" class="btn btn-success">Rotate Image</button>
        </div>
        <br/>
        
        <div id="shrinkwarning" style="display: none">
          <div class="alert alert-warning" role="alert">
            This app is running on a free Heroku account. Unfortunately that means there isn't much processing power
            allotted on the server, and that requests time out after 30s. To get around this, your image is resized (shrunk to a certain number of total pixels)
            before being sent to the server. If you want to go absolutely buck wild, please check out the python source code @ 
            <a href="https://github.com/TravisHunting/pixelsort">https://github.com/TravisHunting/pixelsort</a> <br/>
            Special thanks to @satyarth and of course the famous @kimasendorf (github)
          </div>
        </div>

        <div id="switches">

          <select class="form-select" aria-label="Default select example" id="intervalselector">
            <option selected>Select Interval Function:</option>
            <option value="1">threshold</option>
            <option value="2">edges</option>
            <option value="3">waves</option>
            <option value="4">file</option>
            <option value="5">file-edges</option>
            <option value="6">random</option>
            <option value="7">none</option>
          </select>

          <div id="intervaldescription">
          </div>

          <br/>

          <div class="input-group" style="margin-bottom: 1px">
            <span class="input-group-text" id="randomspan">Randomness (0-100)</span>
            <input type="text" id="randomness" class="form-control" placeholder="0" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          What percentage of intervals NOT to sort. Default 0.

          <div class="input-group" style="margin-bottom: 1px; margin-top: 7px">
            <span class="input-group-text" >Threshold lower (0-100)</span>
            <input type="text" id="thresholdlower" class="form-control" placeholder="25" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          How dark must a pixel be to be considered as a 'border' for sorting? Default 25. Used in edges and threshold modes.

          <div class="input-group" style="margin-bottom: 1px; margin-top: 7px">
            <span class="input-group-text" >Threshold upper (0-100)</span>
            <input type="text" id="thresholdupper" class="form-control" placeholder="80" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          How bright must a pixel be to be considered as a 'border' for sorting? Default 80. Used in threshold mode.

          <!-- <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="displayimages">
            <label class="form-check-label" for="displayimages">Display Images on this page after scraping?</label>
          </div> -->


        </div>
        
        <br/>

        <div class="text-center">
          <button class="btn btn-lg btn-primary" id="sort">Sort Pixels</button>
        </div>

    </div>
  </div>
</div>



<script type="text/javascript"> 

let sortpixelurl = "{{ url_for('sortpixels') }}";

let canvasdiv = document.getElementById("canvasdiv");
let intervalselector = document.getElementById("intervalselector");
let intervaldescription = document.getElementById("intervaldescription");

let intervalFunctionTypes = {
  "threshold":"Intervals defined by lightness thresholds; only pixels with a lightness between the upper and lower thresholds are sorted.",
  "edges":"Performs an edge detection, which is used to define intervals. Tweak threshold with threshold.",
  "waves":"Intervals are waves of nearly uniform widths. Control width of waves with clength.",
  "file":"Intervals taken from another specified input image. Must be black and white, and the same size as the input image.",
  "file-edges":"Intervals defined by performing edge detection on the file specified by -f. Must be the same size as the input image.",
  "random":"Randomly generate intervals. Distribution of widths is linear by default. Interval widths can be scaled using clength.",
  "none":"Sort whole rows, only stopping at image borders."
} 

intervalselector.onchange = function(e) {
  let selectedFunc = intervalselector.options[intervalselector.selectedIndex].text;
  //console.log(selectedFunc)
  if (selectedFunc in intervalFunctionTypes) {
    intervaldescription.innerHTML = intervalFunctionTypes[selectedFunc];
  } else {
    intervaldescription.innerHTML = "";
    canvasdiv.setAttribute("style","display: none")
  }
};

let imageFileName = "";

let img = new Image();

let rotatebutton = document.getElementById("rotatebutton");
rotatebutton.addEventListener("click", (e) => {
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');
  let width = canvas.width;
  let height = canvas.height;

  let newwidth = height; // after rotation
  let newheight = width; // after rotation
  let scale = newwidth / img.height; // how much to scale the image to fit
  console.log("SCALE: ", scale)
  canvas.width = newwidth;
  canvas.height = newheight;
  context.setTransform(
      0,scale, // x axis down the screen
      -scale,0, // y axis across the screen from right to left
      newwidth,    // x origin is on the right side of the canvas 
      0         // y origin is at the top
  );
  context.drawImage(img,0,0);
  context.setTransform(1,0,0,1,0,0);

  // Remember the new orientation
  img.src = canvas.toDataURL("image/png");
})


document.getElementById('inp').onchange = function(e) {
  imageFileName = e.target.files[0].name;
  console.log(imageFileName);

  canvasdiv.removeAttribute("style");
  shrinkwarning.removeAttribute("style");
  rotatediv.removeAttribute("style");

  // let img = new Image();
  img.onload = draw;
  img.onerror = failed;
  img.src = URL.createObjectURL(this.files[0]);
};

function draw() {
  let canvas = document.getElementById('canvas');
  
  // Previous method - Too large
  // canvas.width = this.width;
  // canvas.height = this.height;
  // let context = canvas.getContext('2d');
  // context.drawImage(this, 0, 0);

  let width = this.width;
  let height = this.height;
  let totalpx = width * height;

  // Shrink image to 250k pixels or less, retain aspect ratio
  while (totalpx > 500000) {
    width = width * 0.9;
    height = height * 0.9;
    totalpx = width * height;
  }

  canvas.width = width;
  canvas.height = height;

  let context = canvas.getContext('2d');
  context.drawImage(this, 0, 0, width, height);
};

function failed() {
  console.error("The provided file couldn't be loaded as an Image media");
}

let sortbutton = document.getElementById("sort");

sortbutton.addEventListener("click", async (e) => {
  let canvas = document.getElementById("canvas")
  let context = canvas.getContext("2d");

  let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, 'image/jpeg'));
  
  let formData = new FormData();
  formData.append("image", imageBlob, imageFileName);

  let selectedFunc = intervalselector.options[intervalselector.selectedIndex].text;
  if (!(selectedFunc in intervalFunctionTypes)) {
    console.log("No interval function selected, defaulting to threshold.")
    selectedFunc = "threshold";
  }
  formData.append("intervalfunction", selectedFunc)

  let randomness = document.getElementById("randomness")
  randomness = parseInputPercent(randomness, 0)
  console.log("Randomness: ", randomness)
  formData.append("randomness", randomness)

  let thresholdlower = document.getElementById("thresholdlower").value;
  thresholdlower = parseInputPercent(thresholdlower, 25);
  console.log("thresholdlower: ", thresholdlower)
  formData.append("thresholdlower", thresholdlower);

  let thresholdupper = document.getElementById("thresholdupper").value;
  thresholdupper = parseInputPercent(thresholdupper, 80);
  console.log("thresholdupper: ", thresholdupper)
  formData.append("thresholdupper", thresholdupper);

  let response = await fetch(sortpixelurl, {
    method: 'POST',
    body: formData
  }).then(response => response.blob())
            .then(blob => {

              let image = new Image();
              
              image.onload = (event) => {
                console.log(event.target.src)
                URL.revokeObjectURL(event.target.src) // Release the blob to free memory
                context.drawImage(event.target, 0, 0)
                canvasdiv.removeAttribute("style");
              }

              image.src = URL.createObjectURL(blob);
              // Remember the sorting when rotating
              img.src = image.src;
            });
})

function parseInputPercent(inputval, defaultval) {
  inputval = parseInt(inputval, 10);

  if (isNaN(inputval) || inputval < 0) {
    console.log("inputval didn't parse, or was below zero. Setting to default.")
    inputval = defaultval;
  }
  if (randomness > 100) {
    console.log("inputval cannot be greater than 100, setting to default.")
    inputval = defaultval;
  }

  return inputval
}

</script>

{% endblock %}