{% extends 'base.html' %}

{% block title %} Pixel Sorter {% endblock %}

{% block body %}

<div class="min-vw-100 min-vh-100 d-flex" style="background-color: #eee;">
    <div class="mx-auto my-auto" style="max-width: 90%; min-width: 90%;" id="comicdiv" >
    <div>

      <br/>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Instructions</h4>
          <p>
            Pixel Sorting
          </p>

          <hr>
          Upload an image, select parameters, click "SORT"

          <hr>

          <p class="mb-0">
            Examples: ...
          </p>
        
        </div>

        <input type="file" id="inp">
        <canvas id="canvas"></canvas>


        <div>
          <br/>
          TODO: Add 'Upload Image button: and display it in a canvas element <br/>
          Add button to send image to 'sortpixelurl' <br/> <br/>
        </div>
        

        <div id="switches">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="displayimages">
            <label class="form-check-label" for="displayimages">Display Images on this page after scraping?</label>
          </div>
          <div class="form-check form-switch" id="imagewidthdiv" style="display: none">
            <input class="form-check-input" type="checkbox" id="lockimagewidth">
            <label class="form-check-label" for="lockimagewidth">Set image widths to screen size?</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="hqimages">
            <label class="form-check-label" for="hqimages">Scrape high quality images where available?</label>
          </div>
        </div>
        
        <div class="text-center">
          <button class="btn btn-lg btn-primary" id="sort">Sort</button>
        </div>

    </div>
  </div>
</div>



<script type="text/javascript"> 

let sortpixelurl = "{{ url_for('sortpixels') }}";

document.getElementById('inp').onchange = function(e) {
  let img = new Image();
  img.onload = draw;
  img.onerror = failed;
  img.src = URL.createObjectURL(this.files[0]);
};

function draw() {
  let canvas = document.getElementById('canvas');
  canvas.width = this.width;
  canvas.height = this.height;
  let context = canvas.getContext('2d');
  context.drawImage(this, 0,0);
};

function failed() {
  console.error("The provided file couldn't be loaded as an Image media");
}

let sortbutton = document.getElementById("sort");
sortbutton.addEventListener("click", async (e) => {
  let canvas = document.getElementById("canvas")
  let context = canvas.getContext("2d");
  let image_data_url = document.querySelector("#canvas").toDataURL('image/jpeg');

  let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, 'image/jpeg'));
  let formData = new FormData();
  formData.append("image", imageBlob, "image.jpg");
  let response = await fetch(sortpixelurl, {
    method: 'POST',
    body: formData
  }).then(response => response.blob())
            .then(blob => {

              let img = new Image();
              
              img.onload = (event) => {
                console.log(event.target.src)
                URL.revokeObjectURL(event.target.src) // Release the blob to free memory
                context.drawImage(event.target, 0, 0)
              }

              img.src = URL.createObjectURL(blob);
            });

  // console.log(response)
})

</script>

{% endblock %}