<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    
        <input id="comicurl" type="text" name="comicurl"> <br/>
        <input id="response" type="text" name="response">

<script type="text/javascript">

let urlbox = document.getElementById("comicurl");
let responsebox = document.getElementById("response");
let url = "{{ url_for('comicInfo') }}";

urlbox.addEventListener('change', (e) => {

    let body = {"url": urlbox.value};

    let requestOptions = {
        body: JSON.stringify(body),
        headers: {
            "Content-Type": "application/json"
        },
        method: "POST"
    }

    fetch(url, requestOptions).then(
        function(response) {
            return response.json();
    }).then(function(result) {
        console.log("result:" ,result)
        responsebox.value = result['test']
        //responsebox.value = result.test;
    }).catch(function(err) {
        console.log(err);
    });

})

</script>




</body>
</html>